body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery img {
    width: 100%;
    max-width: 320px;   
    height: 220px;      
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s , opacity 0.3s ;
}

.gallery img:hover {
    transform: scale(1.1);
}
#zoombox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#zoombox img {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.gallery.fade img {
    opacity: 0.3;
}
